@font-face {
    font-family: 'HelloIcon';
    src:    url('fonts/helloicon.eot?ri7djb');
    src:    url('fonts/helloicon.eot?ri7djb#iefix') format('embedded-opentype'),
        url('fonts/helloicon.ttf?ri7djb') format('truetype'),
        url('fonts/helloicon.woff?ri7djb') format('woff'),
        url('fonts/helloicon.svg?ri7djb#helloicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hi {
  display: inline-block;
  font: normal normal normal 1.3857em HelloIcon;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi {
  position: relative;
  top: 0.16em;
}

.hi-more:before {
    content: "\e100";
}
.hi-twitter:before {
    content: "\e101";
}
.hi-facebook:before {
    content: "\e102";
}
.hi-google-plus:before {
    content: "\e104";
}
.hi-linkedin:before {
    content: "\e105";
}
.hi-pinterest:before {
    content: "\e106";
}
.hi-github:before {
    content: "\e107";
}
.hi-codepen:before {
    content: "\e108";
}
.hi-dribbble:before {
    content: "\e109";
}
.hi-behance:before {
    content: "\e110";
}
.hi-mail:before {
    content: "\e111";
}
