<header class="bg-white navbar-fixed-top headroom p-v-sm b-b">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand font-bold h3 l-s-1x">
        <span class="text-primary">helll</span><svg version="1.1" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
          <circle fill="#FAD56B" cx="8" cy="8" r="8"/>
          <path fill="#DD6C5F" d="M8.2,3.1L9.6,6c0,0.1,0.1,0.1,0.1,0.1l3.2,0.5c0.1,0,0.2,0.2,0.1,0.3l-2.3,2.2c0,0-0.1,0.1-0.1,0.2l0.5,3.2
            c0,0.1-0.1,0.3-0.3,0.2l-2.8-1.5c-0.1,0-0.1,0-0.2,0l-2.8,1.5c-0.1,0.1-0.3,0-0.3-0.2l0.5-3.2c0-0.1,0-0.1-0.1-0.2L3,6.9
            C2.9,6.8,3,6.6,3.1,6.6l3.2-0.5c0.1,0,0.1,0,0.1-0.1l1.4-2.9C7.9,3,8.1,3,8.2,3.1z"/>
        </svg><span class="text-warning">STAR</span>
      </a>
    </div>
    <div class="description">
      <p class="navbar-text">workshop by stars for stars</p>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-xxs responsive-disabled">
        <li><a class="text-success text-u-c font-semi-bold" href="/workshop-owner/">Be a workshop owner</a></li>
        <li class="dropdown">
          <a href="" class="more" data-toggle="dropdown">
            <i class="hi hi-more"></i>
          </a>
          <!--dropdown -->
          <ul class="dropdown-menu w-md">
            <div class="arrow top"></div>
            <li class="visible-xs"><a href="/workshop-owner/">Be a workshop owner</a></li>
            <li class="disabled"><a href="">Suggest workshop</a></li>
            <li class="disabled"><a href="">About</a></li>
            <li class="disabled"><a href="">Press</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="">Team</a></li>
            <li class="disabled"><a href="">Support</a></li>
            <li class="disabled"><a href="">Sponsors</a></li>
            <li class="divider"></li>
            <li><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><i class="hi hi-facebook"></i> Facebook</a></li>
            <li class="disabled"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="hi hi-twitter"></i> Twitter</a></li>
            <li><a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="hi hi-github"></i> Github</a></li>
          </ul>
          <!--/ dropdown -->
        </li>
      </ul>
    </div>
  </div>
</header>
